#map{
    position: absolute;
    height: calc(100% - 90px);
    width: 100%;
    top: 90px;

}

.terminal{
    position: absolute;
    z-index: 100;
    right: 5px;
}

.game{
    display: flex;
    flex-direction: row;
}