<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .color-box {
        width: 300px;
        height: 300px;
        display: inline-block;
        margin: 10px;
      }

      .primary {
        background-color: #0077cc;
      }
      .secondary {
        background-color: #f3fbff;
      }
      .tertiary {
        background-color: #d6edff;
      }
      .quaternary {
        background-color: #5fc6c5;
      }
      .quinary {
        background-color: #4bb3b2;
      }
      .text1 {
        background-color: #333333;
        color: #ffffff;
      }
      .text2 {
        background-color: #666666;
        color: #ffffff;
      }
      .text3 {
        background-color: #999999;
        color: #ffffff;
      }

      .primarydark {
        background-color: #002651;
        color: #ffffff;
      }
      .secondarydark {
        background-color: #034077;
        color: #ffffff;
      }
      .tertiarydark {
        background-color: #0c53a5;
        color: #ffffff;
      }
      .text1dark {
        background-color: #f3fbff;
        color: #002651;
      }
      .text2dark {
        background-color: #cccccc;
        color: #002651;
      }
      .text3dark {
        background-color: #999999;
        color: #002651;
      }
    </style>
    <title>Color Boxes</title>
  </head>
  <body>
    <div class="color-box primary"> Primary Light</div>
    <div class="color-box secondary">Secondary Light</div>
    <div class="color-box tertiary">Tertiary Light</div>
    <div class="color-box quaternary">Quarternary Light</div>
    <div class="color-box quinary">Quinary Light</div>
    <div class="color-box text1">Text 1</div>
    <div class="color-box text2">Text 2</div>
    <div class="color-box text3">Text 3</div>
    <br>
    <div class="color-box primarydark"> Primary Dark</div>
    <div class="color-box secondarydark"> Secondary Dark</div>
    <div class="color-box tertiarydark"> Tertiary Dark </div>
    <div class="color-box text1dark">Text 1 (Dark)</div>
    <div class="color-box text2dark">Text 2 (Dark)</div>
    <div class="color-box text3dark">Text 3 (Dark)</div>
  </body>
</html>
