
    <!-- CONTAINER GERAL -->
  <div class="h-4/5 w-3/5 bottom-0 fixed flex items-end justify-center">
    <div
      class="dialog-container bg-secondarydark mb-2 bg-opacity-50 first-letter w-1/2 h-2/5 flex flex-col rounded-md hidden"
    >
    <!--- CARD DE dialog - NAV --->
      <div
        class="dialog-header w-full h-8 bg-gray-900 flex flex-row items-center justify-between px-3"
      >
        <span class="font-tech text-white">Marcelo:</span>
        <button id="ocultarDiv">
          <i class="bx bxs-home text-yellow-50"></i>
        </button>
      </div>
      <!-- CARD dialog BODY -->
      <div id="body-message" class="flex flex-col h-full justify-end items-center overflow-y-auto">
        <!-- MESSAGES -->
        <div id="place-message" class="flex flex-col w-4/5 h-3/4 mb-2 overflow-y-auto ">
          <!-- REVICED MESSAGED -->
          <!-- <div class="recevid-message flex flex-row justify-start items-center mb-2">
            <img
              class="w-8 h-8 rounded-sm"
              src="https://avatars.githubusercontent.com/u/59853942?v=4"
              alt=""
            />
            <span class="font-tech text-white ml-2 bg-slate-600 w-1/2 h-10 pl-2 flex items-center rounded-sm ">Marcelo</span>
          </div> -->
          <!-- SEND MESSAGED -->
          <!-- <div class="send-message flex flex-row justify-end items-center mb-2">
            <span class="font-tech text-white mr-2 bg-slate-600 w-1/2 h-10 pr-2 flex items-center  justify-end rounded-sm ">Marcelo</span>
            <img
              class="w-8 h-8 rounded-sm"
              src="https://avatars.githubusercontent.com/u/59853942?v=4"
              alt=""
            />
          </div> -->
          
          
        </div>
        <!-- SEND MESSAGE -->
        <div class="flex w-4/5 mb-2">
          <input
            class="w-full h-8 p-1 bg-slate-800 font-tech rounded-md text-white border border-slate-700 mr-1 text-sm"
            type="text"
            name=""
            id="message"
          />
          <button
            class="bg-gray-900 text-sm font-tech w-20 rounded-md text-white"
            id="send-message"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="/public/js/dialog.js"></script>

  <script>


  </script>
</body>
