<!DOCTYPE html>
<html>

<head>
  <title>Erro 404 - Página não encontrada</title>
  <link rel="stylesheet" type="text/css" href="./public/css/errorScreen.css">
</head>

<body>
  <div class="error-container">
    <div class="content">
      <img src="./public/img/error404.png" alt="Ícone de erro">
      <h1>Erro 404 - Página não encontrada</h1>
      <p>A página que você está procurando não foi encontrada. Verifique se você digitou o endereço corretamente ou volte à página anterior.</p>
      <a href="./" class="btn">Voltar à página inicial</a>
    </div>
  </div>
</body>

</html>