<%-include("./partials/header")-%>

<body class="bg-[url('/public/img/background-home.jpg')] bg-cover w-full h-full flex flex-row ">
    <div class=" bg-primarydark opacity-70 flex  w-full h-full rounded-md flex-col justify-center">
     <!-- HEADER NAV -->
      <div class="flex flex-row   justify-center  w-4/5  h-12  top-0  ">
          <!-- LEFT SIZE HEADER  -->
          <div class="flex w-1/4 h-full  justify-start   ">
            <img class="pr-2" src="/public/img/logoC.png" alt="">
            <span class=" font-tech text-white text-md font-bold self-center"> Nome do Projeto</span>
          </div>
          <!-- LEFT SIZE HEADER  -->

          <!-- CENTER SIZE HEADER -->
          <div class="flex w-1/2 h-full   font-tech text-white justify-center gap-x-10 items-center ">
            <span class=" hover:border-b-4 hover:border-primary hover:text-cyan-400 ">HOME</span>
            <span class=" hover:border-b-4 hover:border-primary hover:text-cyan-400 ">SOBRE</span>
            <span class=" hover:border-b-4 hover:border-primary hover:text-cyan-400 ">CONTATO</span>
          </div>
          <!-- CENTER SIZE HEADER -->

          <!-- RIGHT SIZE HEADER -->
          <div class="flex justify-end items-center w-1/4 h-full  ">
            <button class=" font-tech text-sm text-white bg-cyan-400 h-10 p-2 rounded-md hover:bg-cyan-700 ">Cadastrar ou Entrar</button>
          </div>
          <!-- RIGHT SIZE HEADER -->
      </div>
      <!-- HEADER NAV -->


      <!-- BODY -->
      <main class="bg-red-800 flex flex-col justify-center pt-2 w-full h-4/5 overflow-x-hidden">

      </main>





    </div>
  



<%-include("./partials/footer")-%>
</body>