<div
  class="profile-container fixed bg-primarydark bg-opacity-50 first-letter w-1/3 h-2/3 flex flex-col rounded-md hidden"
>
  <div
    class="profile-header w-full h-8 bg-primarydark flex flex-row items-center justify-between px-3"
  >
    <button><i class="bx bxs-user text-white"></i></button>
    <button id="ocultarDiv"><i class="bx bxs-x-circle text-white"></i></button>

  </div>
  <div class="profile-area-user w-full h-1/2 flex flex-row">
    <div
      class="profile-avatar w-1/2 h-full flex justify-center items-center flex-col"
    >
      <img
        class="w-38 h-34 border rounded-sm"
        src="public/img/Reid-Profile.png"
        alt=""
      />
    </div>

    <div
      class="profile-avatar w-1/2 gap-2 h-full flex justify-center items-center flex-col"
    >
      <div class="item">
        <label for="name" class="bg-inherit">Nome:</label>
        <input
          type="text"
          name="name"
          id="name"
          class="bg-slate-700 text-black rounded-md w-1/2 h-7 p-1"
        />
      </div>
      <div class="item">
        <label for="email" class="bg-inherit">Email:</label>
        <input
          type="text"
          name="email"
          id="email"
          class="bg-slate-700 text-black rounded-md w-1/2 h-7 p-1"
        />
      </div>
      <div class="item">
        <label for="password" class="bg-inherit">Senha:</label>
        <input
          type="password"
          name="password"
          id="password"
          class="bg-slate-700 text-white rounded-md w-1/2 h-7 p-1"
        />
      </div>

      <div class="item">
        <button
          class="bg-primarydark text-white rounded-md w-full h-7 p-1"
          id="btnUpdate"
        >
          Atualizar
        </button>
      </div>
    </div>
  </div>

  <div class="profile-area-data border-t-2 my-2 w-full h-1/2 flex flex-row">
    <div
      class="profile-user-att w-1/2 h-full text-white flex justify-center items-center"
    >

<ul class="list-none">
  <li><i class="bx bxs-bolt bx-border-circle"></i>Acertos: 18/23</li>
  <li><i class="bx bxs-invader bx-border-circle"></i>Erros: 8/23</li>
  <li><i class="bx bxs-medal bx-border-circle"></i>Pontos: 12</li>
</ul>
    </div>

    <div
      class="profile-user-att w-1/2 h-full text-white flex justify-center items-center"
    >
    </div>
  </div>
</div>

<script src="/public/js/profile.js"></script>
