<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminal</title>
    <link rel="stylesheet" href="/public/css/terminal_question.css" />
  </head>
  <body>
    <div class="terminal">
      <div class="terminal-header">
        <div class="terminal-buttons">
          <div class="terminal-button red"></div>
          <div class="terminal-button yellow"></div>
          <div class="terminal-button green"></div>
        </div>
      </div>
      <div class="terminal-body">
        <div class="terminal-content">
          <div class="typing-text">
            <span id="typing"></span><span id="cursor"></span>
          </div>
        </div>
        <div class="terminal-prompt">
          <p>Escolha a sua alternativa:</p>
          <ul>
            <li>
              <input type="radio" id="option1" name="options" value="option1" />
              <label for="option1">-b+(2*a)</label>
            </li>
            <li>
              <input type="radio" id="option2" name="options" value="option2" />
              <label for="option2">3*65/x</label>
            </li>
            <li>
              <input type="radio" id="option3" name="options" value="option3" />
              <label for="option3">if(x>2)</label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {

        //  

        $.ajax({
          url: "./api/getQuestions",
          type: "GET",
          contentType: "application/json",
          success: function (response) {
            console.log("Tópicos recuperados com sucesso:", response);
          },
          error: function (error) {
            console.error("Erro ao recuperar os tópicos:", error);
          },
        });

        // const answer = {
        //   topic: "Example Topic",
        //   answer: [
        //     {
        //       id: 1,
        //       correct: true,
        //       responseTime: 120,
        //     },
        //     // Você pode adicionar mais respostas aqui.
        //   ],
        // };

        // $.ajax({
        //   url: "./api/saveAnswer",
        //   type: "PUT",
        //   data: JSON.stringify({ nickname: "marcelo", answer: answer }),
        //   contentType: "application/json; charset=utf-8",
        //   dataType: "json",
        //   success: function (response) {
        //     console.log("Answer saved successfully.");
        //   },
        //   error: function (error) {
        //     console.log("Error saving answer: ", error);
        //   },
        // });

        // $.ajax({
        //   url: "./api/showUserLogged",
        //   type: "GET",
        //   success: function (response) {
        //     console.log(response);
        //   },
        // });
      });
    </script>
    <script src="/public/js/terminal.js"></script>
  </body>
</html>
