<section>
  <nav class="w-100 d-flex justify-content-between">
    <a href="./">
      <img src="./public/img/logoC.png" alt="Jornada Do Programador">
    </a>
    <div class="d-flex align-items-center">
      <p class="text-light m-0"><%= session.user.name %></p>
      <img class="ms-3" src="./public/img/perfil_default.png" alt="Logo De <%= session.user.nickname %>">
    </div>
  </nav>
</section>