
<div class="button-profile flex fixed bottom-2 left-[10.9rem]">
  <button id="mostrarDiv" class="bg-primary rounded-full p-2">
    <i class="bx bxs-user-circle text-white text-2xl"></i>
  </button>


</div>
<div class="button-profile flex fixed bottom-2 left-16 ">

  <button id="mostrarRanking" class="bg-primary rounded-full p-2">
    <i class="bx bxs-bar-chart-alt-2 text-white text-2xl"></i>
    <i class='' ></i>
  </button>

</div>
<div class="button-profile flex fixed bottom-2 left-[7.5rem]">

  <button id="voltarVila" class="bg-primary rounded-full p-2">
    <i class="bx bxs-home text-white text-2xl"></i>
    <i class='' ></i>
  </button>
</div>
<div class="button-profile flex fixed bottom-2 left-3 ">

  <button id="sairJogo" class="bg-primary rounded-full p-2">
    <i class="bx bxs-log-out text-white text-2xl"></i>
    <i class='' ></i>
  </button>
</div>


<div class="button-profile flex fixed top-2 left-3">
  
    <div class=" p-2">
      <i class="vida bx bxs-heart text-red-500 text-2xl"></i>
      <i class="vida bx bxs-heart text-red-500 text-2xl"></i>
      <i class="vida bx bxs-heart text-red-500 text-2xl"></i>
      <i class="vida bx bxs-heart text-red-500 text-2xl"></i>
      <i class="vida bx bxs-heart text-red-500 text-2xl"></i>
    
    </div>
</div>




  <script src="/public/js/navbar.js"></script>