
<div class="button-profile flex fixed bottom-2 left-3">
  <button id="mostrarDiv" class="bg-primary rounded-full p-2">
    <i class="bx bxs-user-circle text-white text-2xl"></i>
  </button>


</div>
<div class="button-profile flex fixed bottom-2 left-16 ">

  <button id="mostrarRanking" class="bg-primary rounded-full p-2">
    <i class="bx bxs-bar-chart-alt-2 text-white text-2xl"></i>
    <i class='' ></i>
  </button>

</div>


  <script src="/public/js/navbar.js"></script>